# -------------------------------
# Java & Maven
# -------------------------------
target/
*.class
*.log

# Compilation files
*.jar
*.war
*.ear

# Temp Maven files
.mvn/timing.properties

# -------------------------------
# IntelliJ IDEA
# -------------------------------
.idea/
*.iml
*.iws
out/

# Personal configurations
*.ipr

# -------------------------------
# SO files
# -------------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# -------------------------------
# Other editors
# -------------------------------

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# -------------------------------
# Temp
# -------------------------------
*.tmp
*.swp
*.swo
